body {
	font-family: 'verdana';
    background-image: url('../images/cat_director.png');
}

#content {
	width: 100%;
}

.drag {
    width: 70px;
    height: 70px;
    min-height: 70px;
    line-height: 70px;
    /*border: 1px solid black;*/
    cursor: pointer;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
    opacity: .7;
    padding-top: 5px;
}

.drag_clone {
    width: 30px;
    max-width: 30px;
    height: 70px;
    border: 1px solid black;
    cursor: pointer;
    border-top-left-radius:  8px;
     border-bottom-left-radius:  8px;
    float: left;
    text-align: center;
    font-size: 12px;
    background-color: #aabbff;
    margin: none;
}
 
#drag-x {
    width: 500px;
    height: 75px;
    border: 1px solid gray;
    background-color: #E0F0FF;
    padding-right: 5px;
}

.clip_container {
    width: 500px;
    height: 75px;
    border: 1px solid gray;
    background-color: #E0F0FF;
    padding-right: 5px;
    float: right;
    margin-left: none;
}

#main_container {
    position: relative;
}

#clipsviewer{
    display: inline-block;
}
#videoplayer{
    background-color: #E0F0FF;
    width: 540px;
}

#videoplayer{
    display: inline-block;
    background-color: #E0F0FF;
    width: 540px;
}
.clip_source{
}

