extend layout
block content
	video(width='320', height='240', controls='controls')
		source(src='http://media.cinemeow.s3.amazonaws.com/eyebrows.mp4', type='video/mp4')
			| Your browser does not support the video tag.