extend layout
block content
	video(width='500', height='380', controls='controls')
		source(src='http://media.cinemeow.s3.amazonaws.com/eyebrows.mp4', type='video/mp4')
			| Your browser does not support the video tag.

	form
		div(id="slider", style="width: 500px; margin-left: auto; margin-right: auto; margin-top: 0px;")
		div
			input(type="text", id="start", class="sliderValue", data-index="0", value="10")
			input(type="text", id="end", class="sliderValue", data-index="1", value="15")

	button(type="button", onclick="cutClip();") Cut!
	button(type="button", onclick="requestPlay();") Play!

	script(src='/assets/scripts/whiskers.js')