!!!5
html
	head
		title CineMeow
		link(rel='stylesheet', type='text/css', href='http://pattra.github.io/resources/scorecenter/stylesheets/scorecenter.css')
	body
		br squak
		div#content
				block content